.pos .product-screen .package-qty-input-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    display: none;
}

.pos .product-screen .package-qty-input {
    width: calc(100% - 12px);
    padding: 4px;
    font-size: 16px;
}

.pos .discount-screen .medicine-name {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 16px;
}

.pos .discount-screen .medicine-details-box {
    position: relative;
    font-size: 16px;
}

.pos .discount-screen .medicine-details {
    padding: 8px 32px;
    border-bottom: solid 5px rgb(110, 200, 155);
}

.pos .discount-screen .medicine-details-left {
    width: 50%;
    float: left;
}

.pos .discount-screen .medicine-details-right {
    width: 50%;
    float: right;
}

.pos .discount-screen .search-bar {
	display: flex;
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
}

.pos .discount-screen .popup-input {
    box-shadow: 0px 0px 0px 2px #6EC89B;
}

.pos .discount-screen .full-content {
	overflow-y: scroll; 
	height: 500px;
}

.pos .discount-screen .medicine-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}

.pos .discount-screen .medicine-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.pos .discount-screen .medicine-list thead>tr,
.pos .discount-screen .medicine-list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}

.pos .discount-screen .medicine-list th,
.pos .discount-screen .medicine-list td {
    padding: 10px 8px;
    line-height: 1.2em;
}

.medicine-detail {
    line-height: 2em;
}

.patientInfo {
    display: flex;
    line-height: 2em;
}

.patientInfo .label {
    width: 115px;
}

.patientInfo input {
    flex: 1;
    margin-right: 50px;
    font-size: 16px;
    padding: 0px 8px;
}

.pos-receipt-print {
    font-size: 14px;
}
.pos-receipt .pos-receipt-logo {
    width: 20%;
    display: block;
    margin-left: auto;
}
.pos-receipt .es_class_qr_data{
    width: 30%;
    display: block;
    margin: 0 auto;
}
.pos-receipt .es_class_lottery{
    text-align: center;
    font-size: 75%;
}
.pos-receipt .pos-receipt-amount {
    font-size: 75%;
    padding-left: 2em;
}
.pos-receipt .pos-receipt-contact {
    text-align: center;
    font-size: 75%;
}
.pos-receipt .receipt-orderlines{
   ext-align: center;
    font-size: 75%; 
}
.pos-receipt-right-align{
    font-size: 75%; 
}
